.loginPage {
	--clr-dark-blue: #0084b4;
	--clr-logo-blue: #00aced;
	--clr-bg-blue: #c0deed;
	--clr-verified-blue: #1dcaff;
	--clr-inputs: #91D4F0;
	padding: 1rem;
	min-height: 100vh;
	display: grid;
	place-items: center;
	place-content: center;
}

/* 📌 LOGO SECTION */
.logoSection {
	display: grid;
	justify-items: center;
	text-align: center;
}

.logoSection>img {
	width: 90vw;
	max-width: 28rem;
}

.logoSection>p {
	max-width: 28rem;
}

.logoSection>p>span {
	color: var(--clr-dark-blue);
}

/* 📌 LOGIN SECTION */
.loginSection {
	width: 90vw;
	max-width: 28rem;
	background-color: var(--clr-bg-blue);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
}

.loginSection>form,
.loginSection>form label {
	display: flex;
	flex-direction: column;
}

.loginSection>form {
	gap: 1rem;
	padding: 1rem;
}

.loginSection>form input {
	background-color: var(--clr-inputs);
	border: 0;
	border-radius: 0.625rem;
	height: 3rem;
	font-size: 1rem;
	padding: 0 0.5rem;
}

.loginSection button {
	border-radius: 0.625rem;
	height: 3rem;
	width: 11rem;
	align-self: center;
}

.loginSection button:enabled {
	background-color: var(--clr-dark-blue);
	color: white;
	border: 0;
	transition: 0.1s ease-in-out;
}

.loginSection button:enabled:hover {
	background-color: var(--clr-logo-blue);
}

.loginSection button:disabled {
	background-color: transparent;
}