.navbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.logoAndSearch {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.logoAndSearch>img {
	width: 2.5rem;
}

.navigations {
	display: flex;
	gap: 1rem;
}

.navigations>img {
	width: 1.875rem;
}

.userMenu {
	justify-self: end;
}